
body{
    display: flex;
    background-color: #e5e6e781;
}
.contentclass{
    background-color: #fff;
    margin-top: 40px;
    width: 78%;
    box-shadow: 1px 1px 12px 12px rgba(15, 15, 15, 0.2);
}